<IfModule mod_rewrite.c>

	RewriteEngine on
	Options +FollowSymLinks -Indexes
    <IfModule mod_fcgid.c>
        RewriteCond %{HTTP:Authorization} .
        RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
    </IfModule>

	# Send request via index.php if not a real file or directory
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d

	# deal with php5-cgi first
	<IfModule mod_fcgid.c>
        RewriteRule ^(.*)$ index.php?/$1 [QSA,L]
	</IfModule>

	<IfModule !mod_fcgid.c>

		# for normal Apache installations
		<IfModule mod_php5.c>
			RewriteRule ^(.*)$ index.php/$1 [L]
		</IfModule>

		# for Apache FGCI installations
		<IfModule !mod_php5.c>
			RewriteRule ^(.*)$ index.php?/$1 [QSA,L]
		</IfModule>

	</IfModule>

</IfModule>

AddDefaultCharset UTF-8
