/**
 * Created by asm on 5/25/15.
 */
body {
    background: url('/assets/img/background.png') top left repeat;
}
#body-wrapper {
    background-color: white;
    height: 600px;
    width: 800px;
    margin-left: 20%;
    margin-top: 20px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 30px;


}